@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passion One", sans-serif;
    --fonte3: "Sriracha", cursive;
}


* {
    margin: 0px;
    padding: 0px;

    /* Esta ação irá resetar todas as configurações para começarmos do zero*/
}

html, body {
    min-height: 100vh; /*Esta ação define que a altura será utilizada em 100%*/ 
    background-color: darkgray;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps; /*este código deixa todas as letras maiusculas, mas com um toque moderdo*/
    font-family: var(--fonte2);
    font-size: 10vw; /*esta ação irá adaptar a letra aos tamanhos de tela*/
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover {
    color: aqua;
}

section {
    padding-top: 10vh; /*Aqui, este espaçamento será aplicado a todas as sections, facilitando e criando responsiva*/
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 4vw;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
    background-size: cover;
}

section.imagem {
    background-color: rgba(0, 0, 0, 0.534);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.527);
    background-attachment: fixed; /*faz efeito paralaxe nas imagens.*/
}

section.imagem > p {
    display: inline-block; /*Esta ação faz com que a caixa se adapte ao tamanho do conteudo*/
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.705);
    text-shadow: 2px 2px black;
}

section#img01 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
}

section#img02 {
    background-image: url(../imagens/background002.jpg);
}

footer {
    background-color: black;
    color:white;
    text-align: center;
    padding: 10px;
}